/*.initiallyHidden {
	display:none;
}

.menu {
	margin-left:20px;
}

body {
	background-image: url('pizza_background.jpg');
	background-size: 100px 100px;
	background-repeat: no-repeat; 
	width: 70%; 
	height: 80%; 

}*/